<%= live_component HeaderComponent,
  title: "Volunteer Check-In",
  subtitle: @recent_activity %>
<div id="checkin">
  <%= live_component VolunteerFormComponent, id: :new %>

  <div id="volunteers" phx-update="prepend">
    <%= for volunteer <- @volunteers do %>
    <%= live_component VolunteerComponent, id: volunteer.id ,volunteer: volunteer %>
    <% end %>
  </div>
</div>
